extends layout
block content
  h1= title
  - let results=[{age:6, color:"green", lifeSpan:"20 years"},{age:5, color:"grey", lifeSpan:"15 years"},{age:8, color:"yellow", lifeSpan:"25 years"}]
  div(class="container-fluid")
  div(class="row")
  each value,index in results
    div(class="col-sm-2" onclick=`item(${index})`) Age #{value.age} #{value.color} color frog has Life Span of #{value.lifeSpan}
  script.
    function item(index)
    {
      alert(`Your selected Item is ${index+1}`)
    }